
/* selected by ID */

#menu .item{
    
    color: whitesmoke;
}

#menu{
    
    background: rgb(23, 23, 41);
}
i.chess{
    font-size: 2em;
}
#newpostform{
    margin: 0 auto;
    max-width: 600px;

}
#editor1 {
    background: #fff none repeat scroll 0 0;
    border: 3px solid gray;
    height: 550px;
    margin-bottom: 10px;
    overflow-y: scroll;
    padding: 10px;
    width: 100%;
   }
#bloglist{
    background-color: white; 
    max-width:100%;
    width: 100%;
    padding:20px;
    margin-top: 10px;
    border-width: 0 0 2px 0;
}

/* selected by class */

.font-weight-bold{
    color: green;
}

.afternav.ui.main.text{

    margin: 2em 20px;
    max-width: 100%;
    
    
}



.inline{
    display: inline;
}

.fontStyle {
    width: 5ex;
    text-align: center;
    padding: 1px 3px;
  }
  .form-control:focus{
      border-color: green;
  }
  .margintop{
      margin-top: 20px;
  }

  .float{
    padding-left: 30%;
  }
  .img{
    max-width: 30%;
  }
.firstcol{
    padding-left: 0;
}
.secondcol{
    padding-left:40px;
    padding-right: 0;
}
.image {
    border: solid rgba(5, 129, 5, 0.3)
  }
.faint{
    background-color: #ffffff;
    opacity: 1;
    border-radius:5px;
    
  }
  .center{
    padding-left: 35%;
    margin-top: 10px;
    
  }
.edit{
    margin-right: 10px;
width: 80px;
}
.discard{
margin-left:10px ;
width: 80px;
}
/* selected by tag name */

h1{
 
    text-align: center;

}
h3{
    margin-left: 30px;
}
body{
    margin-top: 55px;
    font-family: 'Indie Flower', cursive;
}
@media only screen and (max-width : 512px) {
   
    body{
        margin-top: 70px;
        font-family: 'Indie Flower', cursive;
    }

    }




 
 