
/* selected by ID */

#menu .item{
    
    color: whitesmoke;
}

#menu{
    
    background: rgb(23, 23, 41);
}
i.chess{
    font-size: 2em;
}
#newpostform{
    margin: 0 auto;
    max-width: 600px;

}
#editor1 {
    background: #fff none repeat scroll 0 0;
    border: 3px solid gray;
    height: 550px;
    margin-bottom: 10px;
    overflow-y: scroll;
    padding: 10px;
    width: 100%;
   }


/* selected by class */

.font-weight-bold{
    color: green;
}

.afternav.ui.main.text{

    margin: 2em 20px;
    max-width: 100%;
    
    
}

.footer{
    background:navy;
}
html{
    max-width: 100%;
}
.inline{
    display: inline;
}

.fontStyle {
    width: 5ex;
    text-align: center;
    padding: 1px 3px;
  }
  .form-control:focus{
      border-color: green;
  }
  .margintop{
      margin-top: 20px;
  }

  .float{
    padding-left: 165px;
  }
  .img{
    max-width: 30%;
  }
.firstcol{
    padding-left: 0;
}
.secondcol{
    padding-left:40px;
    padding-right: 0;
}
.faint{
    background-color: #ffffff;
    opacity: 1;
    border-radius:30PX;
    
  }
  .center{
    padding-left: 35%;
    margin-top: 10px;
    
  }
.edit{
    margin-right: 10px;
width: 80px;
}
.discard{
margin-left:10px ;
width: 80px;
}
/* selected by tag name */

h1{
 
    text-align: center;

}
h3{
    margin-left: 30px;
}
body{
    margin-top: 10%;
}
html{
    height: 100%;
}


 
  fieldset {
    margin: 2px auto 15px;
    width: 358px;
  }
 