<script>

        function private (){
            var secret = prompt('whats the secret?');
            if(secret==22){
                clearTimeout();
            }else if(secret!=22){
            window.location.replace("./blogs")
        }
    }
        
    private();
 
    </script>


<form action="/login" method="post">
    <input type="text" name="username" id="username" placeholder="username">
    <input type="password" name="password" id="password" placeholder="password">
    <input type="submit" value="submit">
    </form>
    